<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">  
        <title>Smart Market</title>
        <style>
            #section-2{ 
                /* overflow: hidden;  */
                /* margin-top: 1em;  */
                /* padding-top: 1em;  */
                /* border-top: 1px solid rgba(0, 0, 0, 0.2);  */
                text-align: center; 
            }
            .row #column1,  
            .row #column2{ 
                    float: left; 
                    width: 319px; 
                    /* padding: 10px 10px 10px 10px;  */
            } 
            #button{
                background-color: rgb(255, 255, 255); /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
            }
            .submit{
                font-size: 14px;
                background-color: rgb(228, 222, 222);
                color: black; 
                border: 0.5px solid rgb(0, 0, 0);
                margin-left: 1.5em;
                margin-top: 0.5em; 
                border-radius: 12px;
                margin-bottom: 0.5em;
            }
            .submit:hover{
                background-color: #858282;
                color: rgb(255, 255, 255);
            }
            .upload{
                font-size: 20px;
                background-color: rgb(0, 0, 0); 
                color: rgb(255, 255, 255); 
                border: 2px solid rgb(224, 223, 223);
                border-radius: 14px;
                margin-left: 0.3em;
            }
            .upload:hover{
                background-color: #d8d5d5;
                color: rgb(0, 0, 0);
            }
            .date-to{
                width: 160px;
                border-radius: 14px;
                margin-left: 1.4em;
                margin-top: 0.5em;
            }
            .date-from{
                width: 160px;
                border-radius: 14px;
            }
            .product{
                border-radius: 10px; 
                width: 142px;
            }
        </style>
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- <link rel="stylesheet" href="../../public/css/home.css"> -->
    <script type="text/javascript" src="../../public/js/upload.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="../../public/css/graph.css">
     
 
    
    <body class="bgimg">
        
        <h1 align="center"><strong>Smart Market</strong></h1>
        <h3 align="center">Adiel Matuf & Yehuda Neumann</h3>
        <section class="container" id="section-2" > 
                <div class="row" >

                    <div class = "buttoms">
                        <p><div align="left" style="margin-left: 2em;"> 
                            <button onclick="document.getElementById('Upload').style.display ='block'" class="button upload">Upload File</button></div>
                        </p>

                        <!-- Uploading receipts Modal -->
                        <div id="Upload" class="w3-modal" >
                        
                            <div class="w3-modal-content w3-animate-zoom" >
                            
                                <div class="w3-container w3-black w3-display-container">
                                    <span onclick="document.getElementById('Upload').style.display='none'" class="w3-button w3-display-topright w3-large">x</span>
                                    <h1>Uploading receipts</h1>
                                </div>
                            
                                <div class="w3-container">
                                    <br/>
                                    <div>Please select CSV, XML or JSON files only</div>
                                    <br/>
                                    <form action="http://localhost:5000/api/hdfs/upload"  enctype="multipart/form-data" method="POST" onsubmit="return checkFile();">
                                    <input type="file" name="myFiles" id="myFiles" multiple accept=".csv,.json,.xml">
                                    <input type="submit" value="submit"/>
                                    </form>
                                    <br/>
                                </div>
                            
                            </div>
                        </div>  
                    </div>
                    
                    <div id="column1" > 

                        <div class="column-title" style = "border-top: 2px solid rgba(0, 0, 0, 0.2);border-bottom: 2px solid rgba(0, 0, 0, 0.2);"> 
                                <p>
                                Distribution of prices in supermarkets:
                                </p>

                                <form action="/graph2" method="POST" style="margin-left: 2em ;margin-top: 0.5em;" align="left"> 
                                    <label for="bday" >From:</label>
                                    <input type="date" id="from" name="from" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="button date-from">
                                    <span class="validity"></span>

                                    <br>
                                    <label for="bday">To:</label>
                                    <input type="date" id="to" name="to" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="from date" class="button date-to">
                                    <span class="validity"></span>
                                    
                                    <br>
                                    <label for="ccexpm">Product:</label>

                                    <select id = "ccexpm" name = "ccexpm" class="button product">
                                        <optgroup label="Select Table">
                                                <option value=""  >Select Grocery</option>
                                                <% gros.forEach(function(gro){ %>
                                                <option value="<%= gro %>"><%= gro %></option>
                                                <% }) %>
                                            </optgroup>
                                    </select>
                                    <button type="submit" value="submit" class="button submit">Submit</button>
                                    <p/>
                                </form>   
                        </div> 


                        <div class="column-title" style = "border-bottom: 2px solid rgba(0, 0, 0, 0.2);"> 
                                <p>
                                Volume of products in supermarkets:
                                </p>
                                                                
                                <form action="/graph3" method="POST" style="margin-left: 2em ;margin-top: 0.5em;" align="left"> 
                                    <p align="left">
                                            <strong>First date:</strong>
                                    </p>

                                    <label for="bday" >From:</label>
                                    <input type="date" id="from" name="first_from" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="button date-from">
                                    <span class="validity"></span>

                                    <br>
                                    <label for="bday">To:</label>
                                    <input type="date" id="to" name="first_to" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="from date" class="button date-to">
                                    <span class="validity"></span>
                                    
                                    <br>
                                    <p align="left">
                                            <strong>Second date:</strong>
                                    </p>
                                    <label for="bday" >From:</label>
                                    <input type="date" id="from" name="second_from" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="button date-from">
                                    <span class="validity"></span>

                                    <br>
                                    <label for="bday">To:</label>
                                    <input type="date" id="to" name="second_to" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="from date" class="button date-to">
                                    <span class="validity"></span>
                                    
                                    <br>
                                    <label for="ccexpm">Product:</label>
                                    <select id = "ccexpm" name = "ccexpm" class="button product">
                                        <optgroup label="Select Table">
                                                <option value=""  >Select Grocery</option>
                                                <% gros.forEach(function(gro){ %>
                                                <option value="<%= gro %>"><%= gro %></option>
                                                <% }) %>
                                            </optgroup>
                                    </select>
                                    <button type="submit" value="submit" class="button submit">Submit</button>
                                    <p/>
                                </form>   
                        </div>

                        <div class="column-title" style = "border-bottom: 2px solid rgba(0, 0, 0, 0.2);"> 
                            <p align="left" style ="margin-left: 2em">
                            Finding association:
                            </p>

                            <form action="/graph4" method="POST" style="margin-left: 2em ;margin-top: 0.5em;" align="left"> 
                                
                                <label for="ccexpm">Product:</label>
                                <select id = "ccexpm" name = "ccexpm" class="button product">
                                    <optgroup label="Select Table">
                                            <option value=""  >Select Grocery</option>
                                            <% gros.forEach(function(gro){ %>
                                            <option value="<%= gro %>"><%= gro %></option>
                                            <% }) %>
                                        </optgroup>
                                </select>
                                
                                <button type="submit" value="submit" class="button submit">Submit</button>
                                <p/>
                            </form>   
                        </div> 
                        
                    </div> 
                                
                    <div id="column2"> 
                        <div class="column-title"> 
                        </div> 
                            
                            <div class="container" style="width: 250%;margin-left: 7em">
                                <canvas id="myChart" style="width:10;height: 5;"></canvas>
                            </div>
                    
                            <script>
                                var dataView = <%-JSON.stringify(collInfos)%>;
                                var dataLabels = <%-JSON.stringify(labels)%>;
                                var groceries = <%-JSON.stringify(gros)%>;
                                
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: dataLabels,
                                        datasets: [dataView]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>

                    </div>

                </div> 

    </body>
</html>