<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>  
        <meta charset="UTF-8">  
        <title>MY APP</title>
        <!-- import the webpage's javascript file -->
        <!-- <script src="/server.js" defer></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        
    </head>
    <body >
        <div class="bgimg w3-display-container w3-text-white">
            <div class="w3-display-topright w3-container w3-xlarge">
                <p><form action="/"> <input type="submit" value="Back Home" class="w3-button w3-black" style="border-radius: 12px; margin-right: 2.5em"/> </form></p>
            </div>
        </div>
        
        
        <div class="container" style="width: 30%;margin-left: 2.5em;margin-top: 2.5em;">
            <canvas id="myChart" width="10" height="5"></canvas>
        </div>

        <script>
            var dataView = <%-JSON.stringify(collInfos)%>;
            var dataLabels = <%-JSON.stringify(labels)%>;
            var groceries = <%-JSON.stringify(gros)%>
            console.log(groceries);
            
            // console.log(dataLabels)
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: dataLabels,
                    datasets: [dataView]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <form action="/quotes" method="POST" style="margin-left: 3.5em;margin-top: 2.5em;"> 
            <fieldset style="border:2px solid rgba(61, 61, 61, 0.5);
            -moz-border-radius:8px;
            -webkit-border-radius:8px;	
            border-radius:8px;
            width:530px">
                    
                <legend>Chooose product</legend>
                
                    <label for="bday">From:</label>
                    <input type="date" id="from" name="from" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" style="border-radius: 10px;">
                    <span class="validity"></span>
                
                    <label for="bday"style="margin-left: 2.8em;">To:</label>
                    <input type="date" id="to" name="to"  required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" style="border-radius: 10px;">
                    <span class="validity"></span>
                    

                    <label for="ccexpm">Product</label>
                    <select id = "ccexpm" style="border-radius: 10px;">
                        <optgroup label="Select Table">
                                <option value="">Select Grocery</option>
                                <% gros.forEach(function(gro){ %>
                                <option value="<%= gro %>"><%= gro %></option>
                                <% }) %>
                            </optgroup>
                    </select>
                    
                    <input type="submit" value="submit" style="margin-left: 1.2em;margin-top: 0.5em; border-radius: 12px;">
                
            </fieldset>

            
            
        </form>

        
    </body>
</html>